@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    height: 500px;
}

.logo{
    color: ghostwhite;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin: 50px auto auto 100px;
}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;    
}

img{
    width: 300px;
    height: 200px;
}

.img1{
    border: 3px solid #E5E7EB;
    width: 350px;
    height: 250px;
}

.hero{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    padding: 50px;
    margin: 50px auto 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.topic{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description{
    font-size: 18px;
    color: #E5E7EB;
}

.icon{
    display: inline-block;
    background-color: rgb(0, 142, 236);
    color: #E5E7EB;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    width: fit-content;
    font-weight: 900;
}

.together1{
    display: flex;
    flex-direction: column;
}
.together2{
    display: flex;
    flex-direction: column;
    margin: 30px 200px 50px auto;
    gap: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.how{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    margin: 30px auto 30px auto;
}

.imginfo{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.imgt{
    border-radius: 8px;
    border:  3px solid rgb(0, 145, 255);
    width: 150px;
    height: 150px;
}

.text{
    width: 155px;
    font-family: "Poppins", sans-serif;

}

.img2, .img3, .img4, .img5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    height: 700px;
    justify-content: center;
}

.praise{
    width: 1000px;
    font-size: 36px;
}

.by{
    text-align: right;
    font-family: "Poppins", sans-serif;
    width: 1000px;
    font-size: 18px;
    color: #1F2939;
    font-weight: 900;
    margin-top: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.footer1{
    display: flex;
    background-color: #3882f6;
    width: 1200px;
    height: 120px;
    padding:30px;
    border-radius: 8px;
}

.notes{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    margin: auto auto auto 100px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.head1{
    font-size: large;
}

.sign{
    display: flex;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: solid white;
    border-radius: 8px;
    color: #F9FAF8;
    margin: auto 100px auto auto  
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2939;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    height: 50px;
}